div.container{
    max-width:750px
}

/* for result.html */
.result_table th, .result_table td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.result_table th {
    background-color: #add8e6;
    color: white;
}

.result_table tr:nth-child(odd)	{ background-color:#eee; }
.result_table tr:nth-child(even)	{ background-color:#fff; }

.result_table tr:hover            { background-color: #add8e6;}