<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>World Exploration{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="World Exploration: a preview">
        <meta name="keywords" content="best country countries">
        <meta name="author" content="Shruti">
        <meta charset="utf-8">





        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.js"></script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css"/>
        

        

	</head>
    <body style="background-color:#e8e8e8">
    {% block navbar %}
    <div class ="navbar navbar-static-top navbar-default">
       <div class ="container">
            <a class="navbar-brand">World Exploration</a>
            <div class ="nav-collapse">
                {% block navbar_right %}
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/comparison">Economic Ranking</a>
                    </li>
                    <li><a href="/clustermap">Insights</a>
                    </li>
                    
                </ul>

                 {% endblock %}

                
             </div>
        </div>
    </div>
    {% endblock %}

    <div class="container">

            
        {% block content %}
        {% endblock %}

    </div>
    
    </body>
</html>